<!DOCTYPE html>
<html>
<head>
  <!-- en-tête de la page -->
  <meta charset="utf-8" />
  <style>/*css*/
  /* creation du fond d'écran :
  url : nom de l'image (mis dans template)
  background-repeat:no-repeat l'image ne se repete pas
  background-size: cover : l'image s'etend au site*/
  body{background-image: url("static/fond-site-internet-comncaux.jpg");background-repeat: no-repeat;background-size: cover;}
  </style>
  <!-- titre de la page ( sur le navigateur) -->
  <title> Réservation de matériel </title>
</head>
<body>
  <!-- corp de la page -->
  <p><div align="right"><a href='/subscription/'> inscription </a>

    <!--<button onclick="fonction_inscription()">Inscription</button>-->

  <h1 align = "center">
    Louer son matériel
  </h1>
  <br />
  <p>
    <!-- src permet d'indiquer où se trouve l'image -->
    <!-- alt permet d'afficher un text alternatif si l'image ne peut charger -->
    <!--<img src="/etudiants/cclain594/proj_groupe/ProjetI63/WEB/MATERIEL/static/client.png" alt ="Image d'un client qui sourit"/>
    <img src="/etudiants/cclain594/proj_groupe/ProjetI63/WEB/MATERIEL/static/client.png" height="50"><br><br>
    <img src="/etudiants/cclain594/proj_groupe/ProjetI63/WEB/MATERIEL/static/client.png" heigt ="100" width="500"><br><br>-->

  </p>
  <!-- essaie de fonction pour le bouton
  <script>
  function fonction_inscription() {
      var x = document.createElement("s'inscrire");
      var t = document.createTextNode("Inscription");
      x.setAttribute("href", "/home/cclain594/projet/WEB/MATERIEL/templates/inscription.html");
      x.appendChild(t);
      document.body.appendChild(x);
  }
</script> -->
  <header>
    <!-- liste de lien (redirection ) -->
    <nav>
      <ul>
        <!-- <a href> : lien hypertexte, qui est utilisé pour relier une page à l’autre -->
        <div align="center"><li><a href="/catalogue/"> consulter le catalogue</a></li>
        <div align="center"><li><a href="/"> prendre un rendez-vous</a></li>
      </ul>
    </nav>
  </header>
</body>
