<!DOCTYPE html>
<html>
<head>
  <!-- en-tête de la page -->
  <meta charset="utf-8" />
  <style>/*css*/
  body{background-image: url("fond-site-internet-comncaux.jpg");background-repeat: no-repeat;background-size: cover;}
  </style>
  <title> Catalogue </title>
</head>
  <body>
    <div><h2>Que recherchez-vous ?</h2></div>
    <p class= "img1"><img src="ski.jpeg" height="305" alt="accueil logement"></p><br/><br/><br/>
      <input type="number" id="myNumber" value="0">
      <p><strong>Note:</strong> veuillez ne rentrer que des chiffres afin que cela soit prit en compte</p>


<!--<strong> indique que le texte a une importance particulière ou un certain sérieux voire un caractère urgent-->
<!--https://www.w3schools.com/jsref/dom_obj_number.asp-->
