<!DOCTYPE html>
<html>
<head>
    <!-- en-tête de la page -->
    <meta charset = "utf-8" />
    <style>/*css*/
    /* creation du fond d'écran :
    url : nom de l'image (mis dans template)
    background-repeat:no-repeat l'image ne se repete pas
    background-size: cover : l'image s'etend au site*/
    body{background-image: url("fond-site-internet-comncaux.jpg");background-repeat: no-repeat;background-size: cover;}
    </style>
    <title>validation connection</title>
</head>

<body>
  <!-- corp de la page -->
  <!-- un titre -->
  <!-- sauter des lignes -->
  <br/><br/><br/><br/><br/><br/><br/><br/>
  <h1><strong><div align="middle">CONNECTION REUSSI </strong></h1>
