<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8" />

  <style>/*css*/

  body{background-image: url("../static/fond-site-internet-comncaux.jpg");background-repeat: no-repeat;background-size: cover;}

  </style>

  <title> Validation d'inscription</title>

</head>

   <body>
     {%include 'message.html'%}

     <h1 align = "center"> Inscription validée  {{nom_user}}!</h1>
          <nav>
            <div align="center"><a href="/"> Retourner à l'accueil </a>
          </nav>
   </body>
</html>
