<!DOCTYPE html>
<html>
<head>
    <!-- en-tête de la page -->
    <meta charset = "utf-8" />
    <style>/*css*/
    /* creation du fond d'écran :
    url : nom de l'image (mis dans template)
    background-repeat:no-repeat l'image ne se repete pas
    background-size: cover : l'image s'etend au site*/
    body{background-image: url("fond-site-internet-comncaux.jpg");background-repeat: no-repeat;background-size: cover;}
    </style>
    <title>Nouvelle inscription</title>
</head>

 <body>
   <!-- corp de la page -->
   <br/><br/><br/><br/><br/><br/>
    <div id="container_formulaire">
    <div id="container_form">
        <form method="post" action="/login/">
        <fieldset>
        <legend> Se connecter </legend>

            <p>
                <label for="pseudo"> pseudo :</label>
                <input type="text" name="pseudo" id="pseudo" maxlength="20" required />
            </p>

            <p>
                <label for="mdp">Mot de passe :</label>
                <input type="password" name="mdp" id="mdp" maxlength="20" required />
            </p>

            <input id="envoyer" type="submit" value="Envoyer" />

        </fieldset>
        </form>
    </div>
    <div id="container_form">
         <form method="post" action="/subscription/" >
         <fieldset>
         <legend> Créer un compte </legend>

             <p>
                 <label for="pseudo">pseudo :</label>
                 <input type="text" name="pseudo" id="pseudo" placeholder="Ex: Toto" maxlength="20" required />
             </p>

             <p>
                 <label for="mdp">Mot de passe :</label>
                 <input type="password" name="mdp" id="mdp" maxlength="20" required />
             </p>

             <p>
                 <label for="mdp_vérifié">Confirmé le mot de passe :</label>
                 <input type="password" name="mdp_vérifié" id="mdp_vérifié" maxlength="20" required />
             </p>

             <p>
                 <label for="Num_Etudiant">numéro etudiant :</label>
                 <input type ="number" name="Num_Etudiant" required />
             <input id="envoyer" type="submit" value="Envoyer" />

         </fieldset>
         </form>
     </div>
     </div>
 </section>
 </body>
</html>
