<!DOCTYPE html>
<html>
<head>
  <!-- en-tête de la page -->
  <meta charset="utf-8" />
  <style>/*css*/
  body{background-image: url("fond-site-internet-comncaux.jpg");background-repeat: no-repeat;background-size: cover;}
  </style>
  <title> Catalogue </title>
</head>

<section>
    {% include 'message.html' %}
    <div id="container_articles">

        <h1>Nos composants</h1>

        {% for article in articles %}
            <div id="container_pigeon">
                <p id="id">{{article[0]}}</p>
                <p id="new_quantite">{{article[1]}}</p>
                <p id="prix">{{article[2]}}</p>
            </div>
        {% endfor %}

    </div>

</section>
