<!DOCTYPE html>
<html>
<head>
  <meta charset = "utf-8" />
  <title>Finances</title>
  <style>
    body {background-image: url("/static/billets-de-banque-du-dollar-volant-et-tombant-vers-le-bas-40088338.jpg");background-repeat: no-repeat;background-size: cover;}
    h1   {color: #DBA901;}
    h2   {color: #FFBF00;}
    a    {color: #0000CC;}
    p    {color: black;}
  </style>
</head>

<body>
  <h1></h1>
  <nav>
    <ul>
    <p> L'état des comptes est de {{res_cpt}}€.</p>
    <a href="/financements/">Voir les demandes de financements</a>
    <br>
    <a href="/subventions/">Voir les subventions reçues</a>
</ul>
  </nav>
  <br/><br/>
  <nav>
    <a href="/"> Retourner à l'accueil </a>
  </nav>
</body>
