<!DOCTYPE html>
<html>
  <head>
  <meta charset = "utf-8" />
  <title>Nouvelle inscription</title>
  </head>

  <body>

  <h1 align = 'center'>Données du compte :</h1>

  <br/><br/><br/><br/>

    <form action = "http://localhost:5000/valid_compte/" method = "POST">
    <br/>Login <input type = "text" name = "log" placeholder="Ex : bigly"/>
    <br/>Password <input type = "password" name = "psw" placeholder="Mauvais Ex : 123456"/>
    <br/>Num. Etudiant <input type = "number" name = "num" placeholder="1"/>
    <br/><input type = "submit" value = "Créer le compte" />
    </form>
    <br/><br/>
    <nav>
      <a href="/"> Retourner à l'accueil </a>
    </nav>
  </body>
</html>
