<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
    <title>Evenement</title>
  </head>
  <body>
    <h1>
      <p class="introduction">Bienvenue sur la partie évènement</p>
    </h1>
    <header>
      <nav>
        <ul>
          <li><a href="/evenement/formext/">Formulaire pour une personne externe à l'association</a></li>
          <li><a href="/evenement/formint/">Formulaire pour une personne interne à l'association</a></li>
          <li><a href="/evenement/universite/">Liste des universités inscrites</a></li>
          <li><a href="/evenement/equipe/">Liste des équipes</a></li>
          <li><a href="/evenement/evenement/">Liste des évènements</a></li>
          <li><a href="/evenement/classement/">Classement par sport</a></li>
        </ul>
      </nav>
    </header>
  </body>
</html>
