<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
</head>
<body>
  <p>Voici les évènements proposés par l'association</p>
  <aside>
    <nav>
      <ul>
        <li><a href="/evenement/evenementpasse/">Voir les anciens évènements</a></li>
        <li><a href="/evenement/evenementfutur/">Voir et s'inscrire aux prochains évènements</a></li>
        <li><a href="/evenement/">Retourner à l'accueil</a></li>
      </ul>
    </nav>
  </aside>
</body>
</html>
