<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"  />
  </head>
  <body>
    <p>Enregistrement effectué pour l'équipe {{NomEqui}}</p>
    <p>Veuillez retenir le numéro identifiant votre équipe : {{NumEqui}}</p>
    <p>Vous en êtes maintenant membre</p>
    <aside>
      <nav>
        <ul>
          <li><a href="/evenement/equipe/">Revenir à la page des équipes</a></li>
          <li><a href="/">Retourner à l'accueil</a></li>
        </ul>
      </nav>
    </aside>
  </body>
</html>
