<!DOCTYPE html>
<html>
<title> Une bonne asso de merde :cœur: </title>
<head>
  <style>
    body {background-color: white;}
    h1   {color: "#DBA901";}
    h2   {color: "#FFBF00";}
    a    {color: red;}
    p    {color: white;}
    p.green {color: chartreuse;}
  </style>
</head>

<body>
  <h1> Asso MACKX: </h1>
  {% if not session.logged_in %}
  <nav>
    <a href='login.html'>Login</a>
    <a href='create_account.html'>Create account</a>
  </nav>
  {% else %}
  <nav>
    <a href='profil.html'>Profil</a>
    <a href='log_out.html'>Log out</a>
  </nav>
</body>
