<!DOCTYPE html>
<html>
<head>
  <meta charset = "utf-8" />
  <title> Une bonne asso de merde :cœur: </title>
  <style>
    body {background-color: white;}
    h1   {color: #DBA901;}
    h2   {color: #FFBF00;}
    a    {color: blue;}
    p    {color: white;}
    p.green {color: chartreuse;}
  </style>
</head>

<body>
  <h1> Asso MACKX: </h1>
  <nav>
    <ul>
    <li>
    <a href="login/"><div align="right">Se connecter</a>
      </li>
      <li>
    <a href="create_account/"><div align="right">Créer un compte</a>
  </li>
</ul>
  </nav>

  <br/><br/><br/><br/>
  <h2> Administration: </h2>
  <a href="/form_insc_etu/">Ajouter un étudiant</a>
  <a href="/form_insc_subv/">Ajouter un étudiant</a>
  <br/>
  <a href="/finances/">Consulter les finances</a>
</body>
