<!DOCTYPE html>
<html>
<head>
    <meta charset = "utf-8" />
    <style media="screen">
      body {background-image: url("diagramme-abstrait-de-finances-avec-graphe-linéaire-histogramme-et-numéros-d-article-sur-le-marché-haussier-sur-le-fond-noir-de-93748742.jpg");background-repeat: no-repeat;background-size: contain;}
    </style>
    <title>Financements</title>
</head>
 <body>
   <h1>Finances</h1>
   <h2 align = 'center'>Liste des financements en attente de traitement :</h2>
   <br/>
   <!-- faire le tri des financements à false -->
   <h2 align = 'center'>Liste des financements traités :</h2>
   <!-- faire le tri des financements à true -->
   <br/>
   <form action = "http://localhost:5000/valid_insc/" method = "GET">
      <!-- Le debut de la ligne est ce qui va apparaitre à l'écran -->
   <p>
  </form>
 </body>
</html>
