<!DOCTYPE html>
<html>
<head>
  <meta charset = "utf-8" />
  <title>Finances</title>
  <style>
    body {background-color: #00FFBF;}
    h1   {color: #DBA901;}
    h2   {color: #FFBF00;}
    a    {color: #0000CC;}
    p    {color: black;}
  </style>
</head>

<body>
  <h1></h1>
  <nav>
    <ul>
    <li>
    <p> L'état des comptes est de {{res_cpt}}€.</p>
    <a href="/financements/"><div align="right">Voir les demandes de financements</a>
      </li>
      <li>
    <a href="/subventions/"><div align="right">Voir les subventions reçues</a>
  </li>
</ul>
  </nav>
</body>
