<!DOCTYPE html>
<html>
   <head>
     <meta charset="utf-8" />
     <link rel="stylesheet" href="static/style_accueil.css" />
     
     <title>Logement</title>
   </head>
   <body>
      
      <h1><strong>Services Logements </strong></h1>
      <br/><br/><br/><br/><br/><br/>
      <p class= "img1"><img src="static/accueil5.jpeg" height="305" alt="accueil logement"></p><br/><br/><br/><div><h2>Que recherchez-vous ?</h2>
      <form action = "http://localhost:5000/result" method = "POST">


         <p style="text-align: center;"><input type = "submit" value = "Un locataire" /><br/></p>
      </form>
      <form action = "http://localhost:5000/recherche_logement" method = "POST">


         <p style="text-align: center;"><input type = "submit" value = "Un logement" /></p>
      </form></div>
      <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
      <p class= "img2"><img src="static/accueil6.jpg" height="330" alt="accueil logement"></p>
      <!--<p class= "img2"><img src="static/accueil6.jpg" alt="accueil logement"></p> width="490" height="160"-->
      
      

     
      


   </body>
</html>
