<!DOCTYPE html>
<html>
   <head>
     <meta charset="utf-8" />
     <!--<link rel="stylesheet" href="static/style.css" />-->
     <title>Logement</title>
   </head>
   <body>
      <h1><strong>Logements </strong></h1>
      <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
      <br/><br/><br/><br/>
      <h2>Que recherchez-vous ?</h2>

      <br/><br/>
      <form action = "http://localhost:5000/result" method = "POST">


         <input type = "submit" value = "Un locataire" /><br/></p>
      </form>


   </body>
</html>
