<!doctype html>
<html>

  <head>

    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/style_logement.css" />
    <title>Nouveau logement</title>
  </head>
   <body>
      <h1 align="center"><strong>Enregistrement des informations liées au logement. </strong></h1>
      <br/><br/><br/><br/><br/>
      <h3>Vos informations Propriétaire:</h3>
      <ul>
        <li>Nom : {{nom}} </li>
        <li>Prenom : {{prenom}}  </li>
        <li>Résidant : {{adr}} </li>
        <li>Numéro de téléphone : {{telephone}}</li>
      </ul>
      <br/><br/>
      <h3 align="center">Le logement :</h3>

      <form action = "http://localhost:5000/enregistrement_logement" method = "POST">
        <p>
          Cochez le type de logement:<br />
          <input type="radio" name="choix" value="Maison" id="Maison" required/>
          <label for="Maison">Maison</label><br/>
          <input type="radio" name="choix" value="Appartement" id="Appartement" required/>
          <label for="Appartement">Appartement</label><br/>
          <input type="radio" name="choix" value="Studio" id="Studio" required/>
          <label for="Studio">Studio</label><br/>
          <input type="radio" name="choix" value="Duplex" id="Duplex" required/>
          <label for="Duplex">Duplex</label><br/>
          <input type="radio" name="choix" value="Loft" id="Loft" required/>
          <label for="Loft">Loft</label><br/>
        </p>
      
        <div>
          <label for="usurface">Surface:</label>
          <input type="text" id="surf" name="surf" placeholder="en m²" required>
          <span class="validity"></span>
        </div>
        <div>
          <label for="upieces">Nombre de pièces:</label>
          <input type="text" id="pcs" name="pcs" required>
          <span class="validity"></span>
        </div>
        <div>
          <label for="ulieu">Localisation:</label>
          <input type="text" id="lieu" name="lieu" placeholder="80 rue du coton 83000 Toulon" required>
          <span class="validity"></span>
        </div>
        <br/>
        <!--<p>
          Prestations du logement :<br/>
          <input type="checkbox" name="Meublé" id="Meublé" />
          <label for="Meublé">Meublé</label><br/>
          <input type="checkbox" name="Non_Meublé" id="Non_Meublé" />
          <label for="Non_Meublé">Non meublé</label><br/>
          <input type="checkbox" name="Park" id="Park" />
          <label for="Park">Parking privé</label><br/>
          <input type="checkbox" name="Garage" id="Garage" />
          <label for="Garage">Garage</label><br/>
        </p>-->
        <br/>
        <div>
          <label for="ucaution">Caution:</label>
          <input type="text" id="prix_caution" name="prix_caution" required>
          <span class="validity"></span>
        </div>
        <div>
          <label for="uloyer">Montant du loyer:</label>
          <input type="text" id="prix_loyer" name="prix_loyer" required>
          <span class="validity"></span>
        </div>
        <br/>
        <!--
        <p>
          Aide à domicile souhaitée:<br />
          <input type="checkbox" name="Ménage" id="Ménage" />
          <label for="Ménage">Ménage</label><br/>
          <input type="checkbox" name="Repassage" id="Repassage" />
          <label for="Repassage">Repassage</label><br/>
          <input type="checkbox" name="Courses" id="Courses" />
          <label for="Courses">Courses</label><br/>
          <input type="checkbox" name="Jardinage" id="Jardinage" />
          <label for="Jardinage">Jardinage</label><br/>
          <input type="checkbox" name="Bricolage" id="Bricolage" />
          <label for="Bricolage">Bricolage</label><br/>
          <input type="checkbox" name="Cuisine" id="Cuisine" />
          <label for="Cuisine">Cuisine</label><br/>

        </p>
      -->
        <p style="text-align: center;"><input type="submit" value="Suivant"></p>
      </form>


   </body>
</html>
