<!doctype html>
<html>

  <head>

    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/style_recap.css" />
    <title>Nouveau logement</title>
  </head>
   <body>
      <h1 align="center"><strong>Liste des offres </strong></h1>
      <br/><br/><br/><br/><br/><br/><br/>
      <div class="proprio">
      <h3>Bien appartenant à :</h3>
      
        <!-- -->
        Nom : {{nom}}<br/><br/>
        Prénom : {{prenom}}<br/><br/>
        Résidant : {{adr}}<br/><br/>
        Numéro de téléphone : {{telephone}}<br/><br/>
      <h3>Les informations concernant le logement:</h3>
        Localisation: {{localisation}}<br/><br/>
        Surface: {{surface}} m²<br/><br/>
        Pièces: {{pieces}}<br/><br/>
        Caution : {{caution}} euros<br/><br/>
        Loyer : {{loyer}} euros<br/><br/>
        Type : {{type_log}}<br/><br/>
        Prestations : {{prestation}}<br/><br/>
        Services souhaités : {{service}}<br/><br/>
      
      </div>
      <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
      <p style="text-align: center;"><input type="submit" value="Confirmer"></p>



 </body>
</html>
