<html>

  <head>
      <meta charset = "utf-8" />
    <!--link rel = "stylesheet" href = "{{url_for('static',
      filename = 'acueil.css')}}"/-->
      <title> Voyage </title>
  </head>

   <body>

     <h1> ACCUEIL VOYAGE </h1>

     <a href="/templates/form_voyage"> Commencer un nouveau voyage </a>
     <br/>
     <a href="/templates/form_organisateur"> Entrer un nouvel organisateur </a>
     <br/>
     <a href="/templates/form_responsable"> Entrer un nouveau responsable </a>
     <br/>
     <a href="/templates/form_entre_loc"> Entrer une nouvelle entreprise de location </a>
     <br/>
     
