<html>

  <head>
      <meta charset = "utf-8" />
    <!--link rel = "stylesheet" href = "{{url_for('static',
      filename = 'acueil.css')}}"/-->
      <title> Voyage </title>
  </head>

   <body>

     <h1> ACCUEIL VOYAGE </h1>

     <a href="/voyage/form_trajet"> Entrer un nouveau trajet </a>
     <br/>
     <a href="/voyage/form_organisateur"> Entrer un nouvel organisateur </a>
     <br/>
     <a href="/voyage/form_responsable"> Entrer un nouveau responsable </a>
     <br/>
     <a href="/voyage/form_entre_loc"> Entrer une nouvelle entreprise de location </a>
     <br/>
     <a href="/voyage/form_vehicule"> Entrer un nouveau véhicule </a>
     <br/>
     <a href="/voyage/form_necessite"> Associer un trajet à un voyage </a>
     <br/>
     <a href="/voyage/form_solicite"> Associer un vehicule à un trajet </a>
     <br/>
     <a href="/voyage/form_voyageur"> Ajouter un voyageur </a>
     <br/>
     <a href="/voyage/form_participe"> Associer un voyageur à un voyage </a>
     <br/><br/><br/><br/>
     <a href="/voyage/liste_traitements"> Traitement des informations </a>
