<!-- Fichier formulaire pour entrer un nouveau trajet -->

<html>

  <head>
    <meta charset = "utf-8" />
    <title> nouveau trajet </title>
  </head>

  <body>

    <h1> FICHE DE NOUVEAU TRAJET </h1>

    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

    <form action = "http://localhost:5000/templates/finir_trajet" method = "POST">
      <p> Lieu de depart <input type = "text" name = "lieu_dep" /> </p>
      <p> Lieu d'arrivé <input type = "text" name = "lieu_arr" /> </p>
      <p> <input type = "submit" value = "confirmer l'ajout" /> </p>
    </form>

  </body>
</html>
