<!-- Fichier formulaire pour entrer un nouveau responsable -->

<html>

  <head>
    <meta charset = "utf-8" />
    <title> nouvel organisateur </title>
  </head>

  <body>

    <h1> FICHE DE NOUVEAU RESPONSABLE </h1>

    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

    <form action = "http://localhost:5000/templates/finir_responsable" method = "POST">
      <p> Nom responsable <input type = "text" name = "nom" /> </p>
      <p> Prenom responsable <input type = "text" name = "prenom" /> </p>
      <p> Numeros de téléphone <input type = "text" name = "tel" /> </p>
      <p> <input type = "submit" value = "confirmer l'ajout" /> </p>
    </form>

  </body>
</html>
