<!-- Fichier formulaire pour associer un vehicule a un trajet -->

<html>

  <head>
    <meta charset = "utf-8" />
    <title> liste voyages </title>

  </head>

  <body>

    <h1> <p>Voici les voyages effectuées</p> </h1>
    <p>num_voyage | num_responsable | num_organisateur | destination | type | prix </p>
    <br/><br/><br/><br/><br/>
    {% for elem in voyage %}
      <form action = "http://localhost:5000/voyage/note_voyage" method="GET">
      <li> {{elem}} <input type="submit" value="Consulter la satisfaction"></li>
      <!-- id = "select num_voyage form {{elem}}" -->
      <var={{elem}}>
      </form>
    {% endfor %}

  </body>
</html>
